.full{
    width: 90%;
}

img{
    width:90px; 
    height:90px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.30), 0 5px 20px rgba(0,0,0,0.22);
}